# Môi trường ảo (áp dụng cho mọi thư mục con)
venv/
**/venv/

# Python cache
__pycache__/
**/__pycache__/
*.pyc

# Database
*.db
**/*.db

# Biến môi trường
.env
**/.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store